In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import time

In [20]:
from bs4 import BeautifulSoup
import requests
import pandas as pd


data = []
# Set Trustpilot page numbers to scrape here
from_page = 1
to_page = 462

for i in range(from_page, to_page + 1):
    response = requests.get(f"https://uk.trustpilot.com/review/www.britishairways.com?page={i}")
    web_page = response.text
    soup = BeautifulSoup(web_page, "html.parser")

    for e in soup.select('article'):
        data.append({
            'Name': e.select_one('[data-consumer-name-typography]').text,
            'Review_Title':e.h2.text,
            'Review_date_original': e.select_one('[data-service-review-date-of-experience-typography]').text.split(': ')[-1],
            'Review_Rating':e.select_one('[data-service-review-rating] img').get('alt'),
            'Total_Reviews': e.select_one('[data-consumer-reviews-count-typography]').text,
            'Review_Text': e.select_one('[data-service-review-text-typography]').text if e.select_one('[data-service-review-text-typography]') else None,
            'Page_Number':i
        })
    # polite scraping
    time.sleep(1)

 # Convert to dataframe   
df = pd.DataFrame(data)

In [21]:
df

,Name,Review_Title,Review_date_original,Review_Rating,Total_Reviews,Review_Text,Page_Number
0,Janice Kenna,12 hr flight with broken seat and broken enter...,29 March 2024,Rated 2 out of 5 stars,17 reviews,Pre-Booked and paid for seats on a 12 hour lo...,1
1,Izabella Vlahavas,BA + billion dollar company…,07 February 2024,Rated 2 out of 5 stars,20 reviews,"A billion dollar company can't change dates, c...",1
2,Alexander Duckett,Avoid Boeing 777 such a poor seating experience,14 April 2024,Rated 1 out of 5 stars,5 reviews,Just returned from Rio de Janeiro on BA0248 on...,1
3,Sam Hopps,Scum of the skies.,14 April 2024,Rated 1 out of 5 stars,9 reviews,"Scum of the skies.Booked flights to Zanzibar, ...",1
4,Mikael Larsen,Screwed by BA again again...,14 April 2024,Rated 1 out of 5 stars,77 reviews,Made the mistake of letting a colleague book f...,1
...,...,...,...,...,...,...,...
9219,Alan Carter,Comfort and friendly service,20 July 2010,Rated 5 out of 5 stars,20 reviews,Flew economy plus from LHR to Chicago. Plenty...,461
9220,Edward Grandison,Nice airstewardess,19 July 2010,Rated 3 out of 5 stars,1 review,"Apart from the lost luggage, which to be fair ...",462
9221,JP,Super Cool and COMFY,14 July 2010,Rated 5 out of 5 stars,9 reviews,I flew with BA back in about 2005 to Tenerife....,462
9222,Alex Shaun,Most baggage allowance,12 May 2010,Rated 4 out of 5 stars,10 reviews,"I think they have the most baggage allowance, ...",462
9223,Sushma,Why Not to Travel by BA,14 January 2009,Rated 1 out of 5 stars,1 review,WHY ONE SHOULD NOT TRAVEL BY BRITISH AIRWAYS\r...,462

In [27]:
df['Rating'] = [r.split(' ')[1] for r in df['Review_Rating']]

In [31]:
df.drop(columns='Rating',inplace=True)

In [32]:
# Save to a file
df.to_csv('BritishAirways_reviews.csv', index=False)